<%- include('./partials/header'); -%> <%- include('./partials/sidebar'); -%>

        <div class="content-wrapper" style="min-height: 1246.5px">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1>Edit Partner</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/admin/dashboard">Home</a></li>
                                <li class="breadcrumb-item active">Edit Partner</li>
                            </ol>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </section>

            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                            <!-- general form elements -->
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Partner</h3>
                                </div>
                                <!-- /.card-header -->
                                <!-- form start -->

                                <div class="alert alert-success" style="display: none"></div>
                                <div class="alert alert-danger" style="display: none"></div>
                                <% Partnerdata.forEach((portf)=> { %>
                                    <form id="partnerFormUpd" enctype="multipart/form-data">
                                        <div class="card-body">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Title</label>
                                                <input type="text" class="form-control" name="title" id="title"
                                                    value="<%= portf.title %>" placeholder="Enter Title" />
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Description </label>
                                                <textarea class="form-control" name="descp" id="descp"
                                                    placeholder="Enter Description"><%= portf.descp %></textarea>
                                            </div>

                                            <div class="form-group">
                                                <label for="exampleInputPassword1">Image</label>
                                                <input type="file" name="partner_img[]" class="form-control"
                                                    id="partner_img" accept=".jpg, .jpeg, .png" multiple />
                                            </div>
                                        </div>
                                        <!-- /.card-body -->

                                        <div class="card-footer">
                                            <input type="hidden" name="pid" id="pid" value="<%= portf.pid %>">
                                            <button type="submit" class="btn btn-primary">Submit</button>
                                            <a href="/partners" class="btn btn-default">Back</a>
                                        </div>
                                    </form>
                                    <% }); %>
                            </div>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </section>
            <!-- /.content -->
        </div>
        <%- include('./partials/footer'); -%>
            <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->

            <script>
                //Add categories

                $("#partnerFormUpd").submit(function (e) {

                    e.preventDefault();

                    var title = $("#title").val();
                    var descp = $("#descp").val();

                    if (title == '') {
                        $(".alert-danger")
                            .text("Title is required!")
                            .fadeIn()
                            .delay(1000)
                            .fadeOut();

                        return false;
                    }

                    if (descp == '') {
                        $(".alert-danger")
                            .text("Description is required!")
                            .fadeIn()
                            .delay(1000)
                            .fadeOut();

                        return false;
                    }


                    var formData = new FormData();
                    formData.append("title", $("#title").val());
                    formData.append("descp", $("#descp").val());
                    formData.append("pid", $("#pid").val());

                    // Append each file from the file input field
                    var files = $("#partner_img")[0].files;
                    for (var i = 0; i < files.length; i++) {
                        formData.append("partner_imgs", files[i]);
                    }

                    // Send AJAX request
                    $.ajax({
                        type: "POST",
                        url: "/updatePartner",
                        data: formData,
                        processData: false,
                        contentType: false,

                        success: function (response) {
                            // Display success message or redirect to another page
                            if (response) {
                                $(".alert-success")
                                    .text("Update Successfully!")
                                    .fadeIn()
                                    .delay(1000)
                                    .fadeOut();

                                $("#partner_img").val(""); // Reset image input
                                // $("#partnerFormUpd")[0].reset();

                            } else {
                                $(".alert-danger")
                                    .text(response.message)
                                    .fadeIn()
                                    .delay(1000)
                                    .fadeOut();
                            }
                        },
                        error: function (err) {
                            // Display error message
                            $(".alert-danger")
                                .text(err.responseJSON.message)
                                .fadeIn()
                                .delay(1000)
                                .fadeOut();
                        },
                    });
                });
            </script>